<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb2.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Всички рецепти</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-80">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/blog-img/1.jpg" alt="">
                            <!-- Post Date -->
                            <div class="post-date">
                                <a href="#"><span>05</span>April <br> 2018</a>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">How to find amazing restaurants in your city</a>
                            <div class="meta-data">
                                by <a href="#">Maria Williams</a> in <a href="#">Restaurants</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            <div class="row post-options">
                                <div>
                                    <a href="#" class="btn delicious-btn btn-4 mt-30">Виж детайли</a>
                                    <a href="#" class="btn delicious-btn mt-30">Редактирай</a>
                                    <a href="#" class="btn delicious-btn btn-3 mt-30">Изтрий</a>
                                </div>

                                <span class="post-likes"><i class="fa-solid fa-heart"></i> 25</span>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-80">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/blog-img/2.jpg" alt="">
                            <!-- Post Date -->
                            <div class="post-date">
                                <a href="#"><span>05</span>April <br> 2018</a>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">10 tips to live a healty life</a>
                            <div class="meta-data">
                                by <a href="#">Maria Williams</a> in <a href="#">Restaurants</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            <a href="#" class="btn delicious-btn mt-30">Read More</a>
                        </div>
                    </div>

                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-80">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="img/blog-img/3.jpg" alt="">
                            <!-- Post Date -->
                            <div class="post-date">
                                <a href="#"><span>05</span>April <br> 2018</a>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="#" class="post-title">5 Tips on how to cook the best hamburger</a>
                            <div class="meta-data">
                                by <a href="#">Maria Williams</a> in <a href="#">Restaurants</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            <a href="#" class="btn delicious-btn mt-30">Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Widget -->
                    <div class="single-widget mb-80">
                        <h6>Категории</h6>
                        <ul class="list">
                            <li><a href="#">Всички</a></li>
                            <li><a href="#">Салати</a></li>
                            <li><a href="#">Предястия</a></li>
                            <li><a href="#">Основни</a></li>
                            <li><a href="#">Десерти</a></li>
                        </ul>
                    </div>

                    <!-- Widget -->
                    <div class="single-widget mb-80">
                        <div class="quote-area text-center">
                            <span>"</span>
                            <h4>Няма любов, <br/> по-искрена от любовта към храната.</h4>
                            <span>"</span>
                            <p>Джордж Бърнард Шоу</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->