@page
@model RegisterModel

<div class="contact-area section-padding-80-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading auth-section-heading">
                    <div class="auth-logo-container">
                        <a asp-controller="Home" asp-action="Index"><img src="~/img/core-img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="cta-content text-center">
                        <h2>Време е за присъединяване</h2>
                        <p>
                            Моля попълнете формата с валидни данни, за да създате успешна регистрация. <br />
                            Вече имате създаден профил? <a asp-page="/Account/Login">Влезте.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form class="form-contact contact_form" method="post">
                        <div class="form-elements-container">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="col-12 col-lg-6">
                                <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="Име" aria-required="true">
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Фамилия" aria-required="true">
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input asp-for="Input.Email" type="email" class="form-control" placeholder="Имейл" aria-required="true">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Парола" aria-required="true">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Повтори парола" aria-required="true">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">Регистрирай се</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}