@model CookingTime.Models.Recipes.CreateRecipeInputModel

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../img/static/breadcrumbs/breadcrumb1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Създаване на рецепта</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-information-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div class="form-elements-container">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="col-12 col-lg-10">
                                <select class="form-control" asp-for="Type" placeholder="Категория">
                                    <option value="1">Салата</option>
                                    <option value="2">Предястие</option>
                                    <option value="3">Основно</option>
                                    <option value="4">Десерт</option>
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="text" asp-for="Title" class="form-control" placeholder="Заглавие">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <textarea asp-for="ShortDescription" class="form-control" style="height: 100px;" placeholder="Описание"></textarea>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="file" asp-for="Image" class="form-control" placeholder="Изображение">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="number" asp-for="PreparationTime" class="form-control" placeholder="Време за приготвяне (в часове)" step="0.1">
                                <span asp-validation-for="PreparationTime" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="number" asp-for="Portions" class="form-control" placeholder="Брой порции" step="0.1">
                                <span asp-validation-for="Portions" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <textarea asp-for="Ingredients" class="form-control" placeholder="Съставки (разделени със запетая)"></textarea>
                                <span asp-validation-for="Ingredients" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <textarea asp-for="Content" class="form-control" style="height: 500px;" placeholder="Начин на приготвяне"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">Създай</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}