@model CookingTime.Models.Users.UserInputModel

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../img/static/breadcrumbs/breadcrumb1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Създаване на потребител</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-information-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form method="post" asp-action="Create">
                        <div class="form-elements-container">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="col-12 col-lg-10">
                                <input type="text" asp-for="FirstName" class="form-control" placeholder="Име">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Фамилия">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="email" asp-for="Email" class="form-control" placeholder="Имейл">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Парола">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">Създай</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}